.imageContainer {
    width: 70%;
    height: 70%;
    max-width: 800px;
    max-height: 600px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #2b2b2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imageContainer > img {
    display: block;
    max-width:100%;
    max-height:100%;
    cursor: move;
    touch-action: none;
}



body {
    background-color: #8ee5d9;
}
header {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.content {
    display: flex;
    justify-content: space-between;
    width: 80%;

}

.name-product fieldset {
    display: none;
}

.active fieldset {
    position: absolute;
    max-width: 1300px;
    width: 100%;
    left: 5px;
    
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
h4 {
    cursor: pointer;
    line-height: 45px;
    margin: 0;
    padding: 0px 10px;
    height: 45px;
}

.active {
background:  linear-gradient(0deg, rgba(102,100,131,1) 24%, rgba(89,172,161,1) 68%, rgba(142,229,217,1) 100%);
box-shadow: 0px -10px 24px 9px rgba(142, 229, 217, 0.39) inset;
border-radius: 5px;

}

h4:hover {
    box-shadow: inset 0 0 20px #ffffff, 0 0 20px rgb(255 255 255 / 20%);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 13px;
    text-shadow: 1px 1px 2px #427388;
    border-radius: 5px;
}

.image img {
    position: relative;
    left: 20%;
    background-repeat: no-repeat;
    max-width: 1300px;
    width: 80%;
}

.products {
    position: absolute;
    top: 0;
}

.products::before {
    content: '';
    position: absolute;
    left: 190px;
    top: 5px;
    width: 100%;
    max-width: 55%;
    height: 558px;
    background: linear-gradient(270deg, rgba(241,241,241,0.8) 34%, rgba(168,210,205,1) 75%, rgba(142,229,217,1) 100%);
}

.products.for-cheese::before {
    height: 780px;
}

.products.for-dumpl::before {
    height: 612px;
}

.total {
    padding: 10px 60px;
    cursor: pointer;
    border: none;
    box-shadow: none;
}
.total:hover {
 size: 120%;
 background-color: #ee9e0a;
 transform: scale(1.3,1.3);
}
.count {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.result {
    padding-left: 20%;
    display: none;
}

@media (max-width: 767px) {
    .container {
        margin: 0 15px;
    }
    img{
        display: none;
    }

    .products::before {
        display: none;
    }
    .products {
        position: unset;
    }

    fieldset {
        display: flex;
        justify-content: center;
        border: none;
    }
    .active fieldset {
        width: 80%;
        left: 50px;
    }

    .active form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .active .products {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .count {
        margin-top: 20px;
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }
    .total {
        width: 100%;
    }
    input {
        height: 25px;
        line-height: 25px;
    }

    .total:hover {
        size: 100%;
        background-color: none;
        transform: unset;
    }

    .result {
        padding-left: 0;
        font-size: 25px;
        font-weight: 600;
        margin: 20px;
    }

    h4 {
        height: 100%;
    }

    .wrapper {
        align-items: center;
    }
    .content {
        align-items: center;
    }
}